/* OrderForm.module.css */
.AddEditToolForm {
  max-width: 335px;
  margin-bottom: 72px;
}

.previewField {
  width: max-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.boxField {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.label {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000;
}

.input {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  border: 2px solid #000;
  box-sizing: border-box;
  margin-top: 8px;
  height: 43px;
  border-radius: 6px;
  padding: 8px 12px;
}

.input::placeholder {
  color: #aaa;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 2px solid #8808cc;
}

.textarea {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-top: 8px;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 12px;
  max-width: 100%;
  resize: none;
}
.select_wrapper {
  position: relative;
}

.arrow {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.select {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  border: 2px solid;
  border-radius: 6px;
  background: #fff;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:focus {
  background: #e7cdf4;
}

/* Chrome / Edge */
.select::-webkit-scrollbar {
  width: 8px;
}

.select::-webkit-scrollbar-track {
  background: #e7cdf4;
}

.select::-webkit-scrollbar-thumb {
  background-color: #8808cc;
}

.select option:hover {
  background-color: #8808cc;
  color: white;
}

.option {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  border: 2px solid;
  border-radius: 6px;
  background: #f3e6f9;
}

.option:checked,
.option:hover {
  background: #e7cdf4;
  color: #000;
}

.boxButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.btn {
  border: 2px solid #8808cc;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  background: #8808cc;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover .btn:focus {
  background: transparent;
  border: 2px solid #8808cc;
  color: #000;
}

.btn:active {
  background: #e7cdf4;
  border: 2px solid #8808cc;
  color: #000;
}

.btnCan {
  border: 2px solid #000;
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}

.btnCan:hover .btnCan:focus {
  background: transparent;
  border: 2px solid #8808cc;
  color: #000;
}

.btnCan:active {
  background: #e7cdf4;
  border: 2px solid #8808cc;
  color: #000;
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-red-dark);
  margin-top: 2px;
  min-height: 18px;
  transition: opacity 0.12s ease;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .AddEditToolForm {
    max-width: 704px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .AddEditToolForm {
    max-width: none;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .left {
    flex-grow: 1;
  }

  .boxButtons {
    width: 415px;
  }

  .btn,
  .btnCan {
    width: 100%;
  }
}
