.AddEditToolForm {
  max-width: 335px;
  margin-bottom: 72px;
}

.previewField {
  width: max-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.boxField {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.label {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: var(--color-text);
}

.input {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--color-text);

  border: 2px solid var(--color-border);
  box-sizing: border-box;
  margin-top: 8px;
  height: 43px;
  border-radius: 6px;

  background-color: var(--color-background);
}

.input::placeholder {
  color: var(--color-neutral);
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.textarea {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-neutral);
  margin-top: 8px;
  border: 2px solid var(--color-border);
  border-radius: 6px;
  padding: 12px;
  max-width: 100%;
  resize: none;
  background-color: var(--color-background);
}

.textarea:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

.select {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
  border: 2px solid var(--color-border);
  border-radius: 6px;
  background: var(--color-background);
}

.select:focus {
  background: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-primary);
}

.select::-webkit-scrollbar {
  width: 8px;
}

.select::-webkit-scrollbar-track {
  background: var(--color-electric-violet-lighter);
}

.select::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.select option {
  background: var(--color-electric-violet-lightest);
  color: var(--color-text);
}

.select option:hover {
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
}

.option {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text);
  border: 2px solid;
  border-radius: 6px;
  background: var(--color-electric-violet-lightest);
}

.option:checked,
.option:hover {
  background: var(--color-electric-violet-lighter);
  color: var(--color-text);
}

.boxButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.btn {
  border: 2px solid var(--color-primary);
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text-inverse);
  background: var(--color-primary);
  transition: background-color 0.2s ease-in-out;
}

.btn:hover,
.btn:focus {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

.btn:active {
  background: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

.btnCan {
  border: 2px solid var(--color-border);
  border-radius: 6px;
  padding: 10px 24px;
  width: 100%;
  height: 41px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text);
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}

.btnCan:hover,
.btnCan:focus {
  background: transparent;
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

.btnCan:active {
  background: var(--color-electric-violet-lighter);
  border: 2px solid var(--color-primary);
  color: var(--color-text);
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-red-dark);
  margin-top: 2px;
  min-height: 18px;
  transition: opacity 0.12s ease;
}

@media only screen and (min-width: 768px) {
  .AddEditToolForm {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .AddEditToolForm {
    max-width: none;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .left {
    flex-grow: 1;
  }

  .boxButtons {
    width: 415px;
  }

  .btn,
  .btnCan {
    width: 100%;
  }
}
