.toolDetailsContent {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    gap: 24px;
    font-family: var(--font-family);
}

.toolHead {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.toolName {
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
}

.toolPricePerDay {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.01em;
}

.userProfile {
    display: flex;
    gap: 16px;
    max-width: 310px;
}

.avatar {
    border-radius: 100%;
    width: 80px;
    height: 80px;
}

.toolOwner {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.username {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.profileBtn {
    border: 2px solid var(--color-neutral-darkest);
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-neutral-darkest);
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
        color 300ms ease-in-out;
}

.profileBtn:hover,
.profileBtn:focus {
    background-color: #e7cdf4;
}

.profileBtn:active {
    background-color: #8808cc;
    color: #fff;
    border-color: #8808cc;
}

.description {
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.specItem {
    line-height: 150%;
}

.span {
    font-weight: 700;
}

.bookingBtn {
    border: 1px solid var(--color-electric-violet);
    border-radius: 6px;
    padding: 10px 20px;
    background-color: var(--color-electric-violet);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.bookingBtn:hover,
.bookingBtn:focus {
    background-color: #fff;
    color: #000;
}

.bookingBtn:active {
    background-color: #e7cdf4;
}