.modalWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
  gap: 48px;
  max-width: 294px;
  margin: 0 auto;
}

.headingWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading {
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  margin: 0;
}

.text {
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.leftBtn,
.rightBtn {
  font-family: inherit;
  width: 100%;
  border-radius: 6px;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.leftBtn {
  border: 2px solid var(--color-neutral-darkest);
  background-color: transparent;
  color: var(--color-neutral-darkest);
}

.leftBtn:hover,
.leftBtn:focus {
  background-color: #e7cdf4;
}

.leftBtn:active {
  background-color: #8808cc;
  color: #fff;
  border-color: #8808cc;
}

.rightBtn {
  border: 1px solid transparent;
  color: var(--color-white);
}

.primary {
  background-color: var(--color-electric-violet);
  border-color: var(--color-electric-violet);
}

.primary:hover,
.primary:focus {
  background-color: #fff;
  color: #000;
}

.primary:active {
  background-color: #e7cdf4;
  color: #000;
  border-color: #e7cdf4;
}

.danger {
  background-color: #d10000;
  border-color: #d10000;
}

.danger:hover,
.danger:focus {
  background-color: #fff;
  color: #000;
  border-color: #d10000;
}

.danger:active {
  background-color: #ffd6d6;
  color: #000;
  border-color: #ffd6d6;
}

@media only screen and (min-width: 768px) {
  .modalWrap {
    max-width: 640px;
  }

  .buttons {
    flex-direction: row;
  }

  .leftBtn,
  .rightBtn {
    flex: 1;
    padding: 10px 0;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .heading {
    font-size: 48px;
  }
}
