.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-3-text);
  width: 335px;
  padding: 48px 0px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }

  .title {
    width: 704px;
    padding: 48px 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    width: 100%;
    padding: 48px 0px;
    font-family: var(--font-family);
    font-size: 56px;
  }
}