.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--color-neutral-light-60); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-background);
  border-radius: 8px;
  width: 100%;
  max-width: 334px;
  position: relative;
  box-shadow: 0 5px 15px var(--color-neutral-light-30);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  color: var(--color-text);
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .modal {
    max-width: 768px;
  }
}