.overlay {
  width: 100%;
  margin: auto;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  width: 100%;
  /* max-width: 1100px; */
  height: 100%;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
}
